.layout {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: lightgrey;
  border-radius: 20px;
}

.addButton {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.todoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 30px;
}

.todoItemBox {
  width: 250px;
  height: 180px;
  background-color: lightgrey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.textBox {
  text-align: center;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.todoButton {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
}
